@media screen and (min-width: 872px) {
    button.toggle {
      margin-top: var(--navPaddingMobileH872, '8rem');
    }    
  }  
/* iPad */
@media screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait)  {
    button.toggle {
        margin-top: var(--navPaddingMobileHiPad, '12rem');
    }
}

@media screen and (min-width: 1024px) and (max-height: 1366px) {
    .header-titles-wrapper {
        position: absolute;
        top: 50px;
        left: 50px;
        color: #fff;
    }
    .site-description {
        color: #fff!important;
        width: 100%;
    }
}